<div id="note_content" class="my-4">
  <div class="note-header"><strong>Note to self:</strong></div>
  <div><%= note.content if note.present? %></div>

  <%= turbo_frame_tag "note" do %>
    <%= note.present? ? 
      link_to("Edit Note", edit_pin_note_path(pin, note), class: "bold") :
      (content_tag(:div, "What do you want to remember about this Pin?") +
       link_to("Add a Note", new_pin_note_path(pin), class: "bold"))  
    %>
  <% end %>
</div>