<%= turbo_frame_tag("pin_detail") do %>
  <p  class="m1">
    <strong><%= pin.title %></strong>
  </p>
  <p class="m1">
    <%= pin.description %>
  </p>
  <% if pin.link.present? %>
    <p class="m1">
      <span>Link:</span>
      <%= pin.link %>
    </p>
  <% end %>
<% end %>