<%= turbo_frame_tag "content" do %>
  <div class="container" id="pins-container">
    <% cache @pins do %>
      <% @pins.each do |pin| %>
        <% cache pin do %>
          <%= render partial: "shared/pin", locals: {pin: pin} %>
        <% end %>
      <% end %>
    <% end %>

    <div id="load-more" data-next-page-url="<%= pins_path(skip: @next_skip) %>"></div>
  </div>
<% end %>
