<%= turbo_frame_tag "content" do %>
  <div class="container" id="pins-container">
    <% cache @pins do %>
      <% @pins.each do |pin| %>
        <% cache pin do %>
          <%= turbo_frame_tag "#{dom_id(pin)}_thumbnail", src: pin_thumbnail_index_path(pin), loading: "lazy" do %>
            <div class="pin_thumbnail--placeholder"></div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div id="load-more" data-next-page-url="<%= pins_path(skip: @next_skip) %>"></div>
  </div>
<% end %>
