<%= turbo_frame_tag "pins_display" do %>
  <div class="container">
    <% @pins.each do |pin| %>
      <%= render partial: "shared/pin", locals: {pin: pin} %>
    <% end %>
  </div>
<% end %>
<div class="page-nav text-center"><%= paginate @pins %></div>
