<%= turbo_frame_tag "pins_display" do %>
  <div class="container">
    <%= render partial: "shared/pin", collection: @pins, as: :pin, locals: {lazy_load: true} %>
  </div>
<% end %>
<div class="page-nav text-center"><%= paginate @pins %></div>
