<h1>Editing note</h1>

<%= turbo_frame_tag "note" do %>
  <%= render partial: "edit_form", locals: {pin: @pin, note: @note} %>

  <div>
    <%= link_to "Delete note", pin_note_path(@pin, @note), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>

  <br>
<% end %>
