  <%= turbo_stream.update @like_frame_name do %>
    <div class="one-line-container">
      <%= render partial: 'likes/like_icon', locals: {likeable: @likeable} %>
      <%= render partial: 'likes/like_count', locals: {likeable: @likeable} %>
    </div>
  <% end %>
