<div id="creator-info">
  <%= link_to user_path(user) do %>
    <div><strong><%= user.email.truncate(20) %></strong></div>

    <div class="text-center"><%= show_follow_count(user) %></div>
  <% end %>
</div>