<div class="middle-nav mt-4">
  <div class="middle-one-line-container" data-controller="navigate" data-navigate-target="link" data-path=<%= request.fullpath %>>
    <div class="m1 big border-bottom p-4"><%= link_to "Created", user__created_index_path(user), "data-navigate-target": "navButton"  %></div>
    <div class="m1 big border-bottom p-4"><%= link_to "Saved", user__saved_index_path(user), "data-navigate-target": "navButton"  %></div>
  </div>
</div>