<div class="middle-nav">
  <div class="middle-one-line-container">
    <div class="m1 big border-bottom"><%= link_to "Created", user__created_index_path(user), "data-navigate-target": "navButton"  %></div>
    <div class="m1 big border-bottom"><%= link_to "Saved", user__saved_index_path(user), "data-navigate-target": "navButton"  %></div>
  </div>
</div>