<% return unless current_user_is_owner_of?(saved_pin) %>

<div class="bottom-right">
  <%= link_to edit_pin_saved_pin_path(pin, saved_pin), class: "bold white", data: { turbo_frame: "edit#{dom_id(saved_pin)}" } do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
</div>
<%= turbo_frame_tag("edit#{dom_id(saved_pin)}") %>