<% return unless current_user_is_owner_of?(pin) %>

<div class="bottom-right">
    <%# edit_pin_button is in application helper %>
    <%= edit_pin_button(pin) %>
</div>
<%= turbo_frame_tag [dom_id(pin), "edit_layout"] %>
