<% if flash[:notice].present? %>
  <div style="color: green">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error].present? %>
  <div style="color: red">
    <%= flash[:error] %>
  </div>
<% end %>