<div class="information">
  <div><%= user.email %></div>
  <div>following count</div>
  <div>Edit Profile</div>
</div>
<div class="middle-nav">
  <div><%= link_to "Created", user__created_index_path(@user), data: {turbo_frame: "content"}  %></div>
  <div><%= link_to "Saved", user__saved_index_path(@user), data: {turbo_frame: "content"}  %></div>
</div>