<% destination = saved_pin.board.nil? ? user__saved_index_path(current_user) : user_board_path(current_user, saved_pin.board) %>
<% name = saved_pin.board.nil? ? "Unorganized Ideas" : saved_pin.board.name %>
<% name_prettier = "#{name.truncate(19)}" %>

<div class="top-left bold">
  <%= link_to destination, class: "button", data: {turbo_frame: "_top"} do %>
    <span><%= name_prettier %></span> 
    <i class="fa-solid fa-check"></i>
  <% end %>
</div>

<div class="bottom-left"><%= button_to "Saved", pin_saved_pin_path(pin, saved_pin), method: :delete %></div>