  
<div class="board_box">
  <%= link_to user_board_path(user, board), data: { turbo_frame: "_top" } do %>
    <div class="box">
      <% if board.cover.attached? %>
        <%= image_tag(board.resize_img(board.cover, 157, 157)) %>
      <% else %>
        <div class="img_place_holder"></div>
      <% end %>
      <div><%= board.name %></div>
    </div>
  <% end %>
</div>
