<%= render partial: "shared/profile", locals: { user: @user } %>

<%= turbo_frame_tag "content" do %>
  <hr>
  <div id="all-boards"><%= render partial: "shared/all_boards", locals: {boards: @boards, user: @user} %></div>

  <hr>

  <div>Unorganized Ideas</div>
  <%= render partial: "shared/show_saved_pins", locals: {saved_pins: @unorganized_saved_pins} %>

<% end %>
