<%= render partial: "shared/profile", locals: { user: @user } %>
<hr>
<div class="md big m1">All Pins Created</div>
<%= turbo_frame_tag "content" do %>
  <div class="container">
    <% cache @pins do %>
      <% @pins.each do |pin| %>
        <% cache pin do %>
          <%= render partial: "shared/pin", locals: {pin: pin, edit_pin: true } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
