<%= turbo_frame_tag("#{dom_id(board)}_privacy_change") do %>
  <% new_privacy = board.keep_secret ? false : true %>
  <% next_state = new_privacy ? "Public" : "Only You" %>
  <div class="one-line-container">
    <div>Who can see this board:</div>
    <div><%= button_to next_state, user_board_path(board.user, board, board: {keep_secret: new_privacy}), method: :patch %> </div>
  </div>  
<% end %>