<h1>Boards</h1>
<%= render partial: "shared/new_board_link", locals: {user: @user} %>
<hr>

<div id="all-boards"><%= render partial: "shared/all_boards", locals: {boards: @boards, user: @user} %></div>