<div class="middle-container">
  <div>
    <div class="text-center big my-4">All Boards</div>
  </div>
</div>

<div id="all-boards">
  <%= render partial: "shared/all_boards", locals: {boards: @boards, user: @user} %>
</div>