<div class="middle-container">
  <div>
    <h1>New board</h1>
  
    <%= render partial: "boards/form", 
      locals: {board: @board, 
               pin_id: @pin_id,
               in_saved_pin_mode: @in_saved_pin_mode,
               cancel_form: @cancel_form} %>  
  </div>
</div>
