<h1>New board</h1>

<%= render partial: "boards/form", locals: {board: @board, pin_id: defined?(@pin_id) ? @pin_id : nil} %>

<br>

<div>
  <%= link_to "Back to boards", user_boards_path(current_user) %>
</div>
