<%= render @board %>

<div>
  <%= link_to "Edit this board", edit_user_board_path(current_user, @board) %> |
  <%= link_to "Back to boards", user_boards_path(current_user) %>

  <%= button_to "Destroy this board", user_board_path(current_user, @board), method: :delete %>
</div>
