<div class="middle-container">
  <div>
    <div id="board-infor-frame">
      <%= render partial: "boards/board_infor", locals: {board: @board} %>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <% cache @saved_pins do %>
    <% @saved_pins.each do |saved_pin| %>
      <% cache saved_pin do %>
        <%= show_pin_or_saved_pin(saved_pin) %>
      <% end %>
    <% end %>
  <% end %>
</div>
