<div class="middle-container">
  <div>
    <div id="board-infor-frame">
      <%= render partial: "boards/board_infor", locals: {board: @board} %>
    </div>

    <%= link_to "Destroy this board", user_board_path(current_user, @board), data: {turbo_confirm: "Are you sure?", turbo_method: :delete}, class: "bold" %>
  </div>
</div>
<hr>


<div id="pins-container"><%= render partial: "shared/show_saved_pins", locals: {saved_pins: @saved_pins} %></div>