.information .circular-image {
  border-radius: 50%;
  box-shadow: 0 0 0 7px #7e7e7e60,
              0 0 0 14px #7e7e7e50,
              0 0 0 21px #7e7e7e40,
              0 0 0 28px #7e7e7e20,
              0 0 0 35px #7e7e7e10,
              0 0 10px 42px #7e7e7e10;
  animation: wavy 2s linear infinite alternate;
}

@keyframes wavy {
  100% {
    box-shadow: 0 0 0 2px #7e7e7e50,
              0 0 0 9px #7e7e7e40,
              0 0 0 16px #7e7e7e20,
              0 0 0 23px #7e7e7e10,
              0 0 0 30px #7e7e7e05,
              0 0 10px 37px #7e7e7e05;
  }
}