.p-2 {
  padding: 0.5rem 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pr-2 {
  padding-right: 0.5rem
}
.max-w-full {
  max-width: 100%;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.inline-block {
  display: inline-block;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-2xl {
  border-radius: 1rem;
}
.break-words {
  word-wrap: break-word;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-auto {
  flex: 1 1 auto;
}
.grow {
  flex-grow: 1;
}
.gap-2 {
  gap: 0.5rem;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.whitespace-normal {
  white-space: normal;
}
.ml-2 {
  margin-left: 0.5rem;
}
.text-wrap {
  text-wrap: wrap;
}
.min-w-0 {
  min-width: 0px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.big {
  font-weight: bold;
  font-size: large;  
}
.bold {
  font-weight: bold;
}
.blur {
  color: rgb(133, 132, 132)
}
.white {
  color: white;
}
.grey-background {
  color: rgb(194, 194, 194);
}
.bg-light-gray {
  background-color: #f0f2f5;
}