/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
.container {
  width: calc(236px * 7 + 20px * 6);
  margin: 20px auto;
  columns: 7;
  column-gap: 20px;
}
.container .box {
  width: 236px;
  margin-bottom: 10px;
  break-inside: avoid;
}
.container .box img {
  max-width: 100%;
  border-radius: 15px;
}
.img_place_holder{
  border-radius: 15px;
  height: 157px;
  width: 157px;
  background-color: rgb(214, 210, 203);
}
@media (max-width: 1812px)
{
  .container{
    width: calc(236px * 6 + 20px * 5);
    columns: 6;
  }
}
@media (max-width: 1556px)
{
  .container{
    width: calc(236px * 5 + 20px * 4);
    columns: 5;
  }
}
@media (max-width: 1300px)
{
  .container{
    width: calc(236px * 4 + 20px * 3);
    columns: 4;
  }
}
@media (max-width: 1044px)
{
  .container{
    width: calc(236px * 3 + 20px * 2);
    columns: 3;
  }
}
@media (max-width: 788px)
{
  .container{
    width: calc(236px * 2 + 20px );
    columns: 2;
  }
}
@media (max-width: 532px)
{
  .container{
    width: 236px;
    columns: 1;
  }
}
#board_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
}
#board_grid .board_box {
  width: 157px;
  margin-bottom: 10px;
  break-inside: avoid;
}
.board-thumbnail {
  border-radius: 15px;
}
.left-padding-1rem {  
  padding-left: 1rem;
  padding-top: 0.25rem;
}