/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color60: white;
  --color30: #191645;
  --color10: #43c64c; 
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: calc(236px * 7 + 20px * 6);
  margin: 20px auto;
  columns: 7;
  column-gap: 20px;
}
.container .box {
  width: 236px;
  margin-bottom: 10px;
  break-inside: avoid;
}
.container .box img {
  max-width: 100%;
  border-radius: 15px;
}
.img_place_holder{
  border-radius: 15px;
  height: 157px;
  width: 157px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
@media (max-width: 1812px)
{
  .container{
    width: calc(236px * 6 + 20px * 5);
    columns: 6;
  }
}
@media (max-width: 1556px)
{
  .container{
    width: calc(236px * 5 + 20px * 4);
    columns: 5;
  }
}
@media (max-width: 1300px)
{
  .container{
    width: calc(236px * 4 + 20px * 3);
    columns: 4;
  }
}
@media (max-width: 1044px)
{
  .container{
    width: calc(236px * 3 + 20px * 2);
    columns: 3;
  }
}
@media (max-width: 788px)
{
  .container{
    width: calc(236px * 2 + 20px );
    columns: 2;
  }
}
@media (max-width: 532px)
{
  .container{
    width: 236px;
    columns: 1;
  }
}
#board_grid {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
}
#board_grid .board_box {
  width: 157px;
  margin-bottom: 10px;
  break-inside: avoid;
}
.board-thumbnail {
  border-radius: 15px;
}
.left-padding-1rem {  
  padding-left: 1rem;
  padding-top: 0.25rem;
}
.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle-one-line-container {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one-line-container {
  gap: 1rem;
  display: flex;
  align-items: center;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.pin_display {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}
.pin_content {
  max-height: 760px;
  width: 508px;
  overflow-y: scroll;
}
.pin_img {
  max-height: 760px;
  width: 508px;
}
.pin_img a {
  display: flex;
  justify-content: center;
  margin-right: 0;
}
.pin_img img {
  border-radius: 1rem;
}
input, textarea {
  border: 2px solid grey;
  width: 400px;
  padding: 0.75rem;
  height: auto;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.box input, .box textarea {
  width: 90%;
}
input[type=file] {

}
input[type=checkbox] {
  width: auto;
}
button, input[type=button], input[type=submit], input[type=reset] { 
  border: none;
  width: auto;
  color: white;
  background-color: var(--color30);
  padding: 0.5rem 1rem 0.45rem;
  border-radius: 1rem;
  margin: 0.25rem;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  font-weight: 555;
}
select:hover, button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, .custom-file-upload:hover {
  cursor: pointer;
}
label {
  margin: 0.25rem;
}
a {
  display: inline-block;
  padding: 0.25rem;
}
.m2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.md {
  text-align: center;
}
.big {
  font-weight: bold;
  font-size: large;  
}
.bold {
  font-weight: bold;
}
.blur {
  color: rgb(133, 132, 132)
}
nav {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav a {
  padding: 1.25rem;
  border-radius: 1.5rem;
  padding: 0.75rem;
  margin: 0.5rem;
}
nav a:hover {
  background-color: rgb(204, 204, 204);
  color: var(--color30);
  text-decoration: none;
}
.home {
  color: white;
  background-color: var(--color30);
}
.border-bottom {
  border-bottom: 2px solid white;
}
.highlight-under {
  display: inline-block;
  border-bottom: 2px solid var(--color10);
}
.right-side {
  margin-left: auto;
}
.not-follow {
  background-color: rgb(180, 180, 180);
  color: var(--color30)
}
.follow-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}
