/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
@import "font-awesome";
@import "profile-img";
@import "pin";
@import "pin-thumbnail";
@import "comment";
@import "tailwind_like";
@import "pins_layout";
@import "board_grid";
@import "button_and_form";
@import "nav";
@import "pin_overlay";
@import "modal";
@import "scrollbar";
@import "flash";
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color60: white;
  --color30: #191645;
  --color10: #43c64c; 
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-decoration: none;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  margin-top: 6.5rem;
}
footer {
  margin-top: auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.25rem 0;
}
img {
  border-radius: 1rem;
  display: block;
  max-width: 100%;
}
h1 {
  font-size: x-large;
}
.middle-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle-one-line-container {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.note-header {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.home {
  color: white;
  background-color: var(--color30);
}
.border-bottom {
  border-bottom: 3px solid white;
}
.highlight-under {
  display: inline-block;
  border-bottom: 3px solid var(--color10);
}
.right-side {
  margin-left: auto;
}
.not-follow {
  background-color: rgb(180, 180, 180);
  color: var(--color30)
}
.follow-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.board-img {
  border-radius: 1rem;
}
#board-infor-frame {
  max-width: 30rem;
  min-width: 20rem;
}
.circular-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(201, 201, 201);
  border-radius: 50%; 
  overflow: hidden;
  font-weight: bold;
}
.circular-image img{
  height: auto;
  display: block;
}
.align-items-center {
  gap: 0.25rem;
  display: flex;
  align-items: center;
}
.errors {
  color: red;
}
#profile-frame-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
