<div id="<%= dom_id saved_pin %>">
  <p>
    <strong>Pin:</strong>
    <%= saved_pin.pin_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= saved_pin.user_id %>
  </p>

  <p>
    <strong>Board:</strong>
    <%= saved_pin.board_id %>
  </p>

</div>
