<h1>Editing saved pin</h1>

<%= render "form", saved_pin: @saved_pin %>

<br>

<div>
  <%= link_to "Show this saved pin", @saved_pin %> |
  <%= link_to "Back to saved pins", saved_pins_path %>
</div>
