<div class="middle-container">
  <div>
    <div id="profile-frame">
      <%= turbo_frame_tag "profile-frame-info" do %>
        <%= render partial: "profile/profile_infor", locals: {profile: @profile} %>
      <% end %>
    </div>
  </div>
</div>